# Core
pandas
numpy
scipy
matplotlib
seaborn
tqdm
joblib
gdown

# Deep Learning (PyTorch)
torch
torchvision

# ML & Utilities
scikit-learn

# MLOps
mlflow==2.2.2
dvc
dagshub

# Config & Utilities
python-box==6.0.2
PyYAML
types-PyYAML
ensure==1.0.2

# API Deployment
flask
flask-cors
gunicorn

# Testing
pytest

# Development
notebook

-e .